<div class="row">
<div class="large-7 large-centered columns medium-8 medium-centered columns small-12 columns">

  <h3>Sign In</h3>
<%= form_tag(session_path) do %>
  <fieldset>
      <p>
        <%= label_tag :email %>
        <%= text_field_tag :email,nil, required: true, autofocus: true, size: 40, placeholder: "Email or Username" %>
       </p>
       <p>
        <%= label_tag :password %>
        <%= password_field_tag :password, nil, required: true, size: 40 %>
      </p>
    <p>
      <%= submit_tag 'Sign In', class: 'button' %>
    </p>
    No account yet? <%= link_to 'Sign up!', signup_path %>
</p>
  </fieldset>
<% end %></div></div>