<div class='row'>
<div class='small-8 large-centered columns'>

<dl class="sub-nav">
  <dt>Filter:</dt>
  <dd class="active"><%= link_to 'Dashboard', current_user %></dd>
  <dd><%= link_to 'Profile', profile_path(current_user)
                   %></dd>
  <dd><%= link_to 'Add Listings', new_listing_path %></dd>
  <dd><%= link_to 'Create Post', new_blog_path %></dd>
  <dd><%= link_to 'All Listings', listings_list_path %></dd>
</dl>
</div></div>

<div class='row'>


<% if @blogs.any? %>
  <div class="row">
    <h1>Blog</h1>

    <% @blogs.in_groups_of(4) do |group| %>
      <div class="row">
        <% group.each do |blog| %>
          <% if blog %>
            <div class="medium-3 columns">
              <div class="listing_list">
              <h2><%= link_to(blog.title, blog) %></h2>
              
                <%= blog.content %>
              </div>
            </div>
            <% end %>
          <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

</div>
