<div class='row'>


<% if @listings.any? %>
  <div class="row">
  <br>
    <div id="player-wrapper"></div>

    <% @listings.in_groups_of(4) do |group| %>
      <div class="row">
        <% group.each do |listing| %>
          <% if listing %>
            <div class="medium-3 columns">
              <div class="listing_list">
              <h3><%= link_to(listing.title, listing) %></h3>
              <%= image_tag listing.upload.url(:medium) %>
              
                <!-- <iframe width="300" height="300" <%= image_tag listing.upload.url(:medium) %>frameborder="0" allowfullscreen></iframe> -->
                <p>
          <%= truncate(listing.summary, length: 80, separator: ' ') %>
        </p>
        <table>
          <tr>
            <th>Location</th>
            <td><%= listing.address %></td>
          </tr>
          <tr>
            <th>Price</th>
            <td><%= format_price(listing) %></td>
          </tr>
        </table>

                
              </div>
            </div>
            <% end %>
          <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

</div>
