<div class='row'>
<ul>
  <% @listings.each do |listing| %>
    <li>
      <article>
        <header>
        
          <h2><%= link_to(listing.title, listing) %></h2>
          <%= image_tag listing.upload.url %>
          
        </header>
        <p>
          <%= truncate(listing.summary, length: 150, separator: ' ') %>
        </p>
        <table>
          <tr>
            <th>Location</th>
            <td><%= listing.address %></td>
          </tr>
          <tr>
            <th>Price</th>
            <td><%= format_price(listing) %></td>
          </tr>
        </table>
      </article>
    </li>
  <% end %>
</ul>
</div>
