
<div class='home_image'> <br><br><br><br><br><br><br><br>
<div class="row search_home">
    <div class="large-10 large-centered columns form_search">
     <%= form_tag search_listings_path, method: :get do %>
      <div class="row collapse">
        <div class="small-10 columns">
        <%= text_field_tag :search, params[:search], placeholder: "Check out for a place to stay." %>
          
        </div>
        <div class="small-2 columns">
        <%= submit_tag "Search for Home", name: nil, class: "button postfix" %>
        </div>
         <label class='looking'>What are you looking for?</label>
      <input type="radio" name="room" value="room" id="pokemonRed"><label for="room">I'm looking for a Room</label>
      <input type="radio" name="room" value="home" id="pokemonBlue"><label for="roomhome">I'm looking for an entire home</label>
    
      </div><% end %>
    </div></div>
    

</div>
<div class='wrap'>
<div class='row'>
  <div class="large-6 large-centered columns">
    <h3>Browse Apartments for Rent</h3>
    <h6>Not sure where to stay? See all available listings in your area.</h6>
  </div>
</div>
<div class='row'>


<% if @listings.any? %>
  <div class="row">
  <br>
    <% @listings.each_slice(4) do |listing| %>
      <div class="row">
        <% listing.each do |listing| %>
          <% if listing %>
            <div class="medium-3 columns small-6 columns">
              <div class="listing_list">
              
              <%= image_tag listing.upload.url(:medium) %>
              
                <!-- <iframe width="300" height="300" <%= image_tag listing.upload.url %>frameborder="0" allowfullscreen></iframe> -->
                <p>
          <%# truncate(listing.summary, length: 80, separator: ' ') %>
          
        </p>
        <table >
        <tr style= 'height:50px;'><td>
        <h5><%= link_to(listing.title, listing) %></h5></td></tr>
          <tr>
            <!-- <th>Location</th> -->
            <td style: 'width:100%;height:150px;'><%= listing.address %></td>
          </tr>
          <tr>
             <!-- <th><h3>Price</h3></th> -->
            <td class='button [tiny small large]'>Rent: <%= format_price (listing) %></td>
          </tr>
        </table>



  
                
              </div>
            </div>
            <% end %>
          <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
</div>
    
</div>

