<section>
<div class="row list_search">
    <div class="large-10 large-centered columns form_search">
     <%= form_tag listings_path, method: :get do %>
      <div class="row collapse">
        <div class="small-10 columns">
        <%= text_field_tag :query, params[:query], placeholder: "Find a place to stay." %>
          
        </div>
        <div class="small-2 columns">
        <%= submit_tag "Search for Home", name: nil, class: "button postfix" %>
        </div>
    
      </div><% end %>
    </div></div></section>
    
<div class="list_all">

  <div class='map_list'>
    <p id="directions" style='width: 500px; height: 550px;'></p>
  </div>

    <div class="list_wrapper">
    <% if @listings.any? %>

    <% @listings.in_groups_of(2) do |group| %>
       <div class="row">
        <% group.each do |listing| %>
          <% if listing %>
            <div class="medium-6 columns">
        
                 
                 <%= image_tag listing.upload.url(:medium) %>
                 <h3><%= link_to(listing.title, listing) %></h3>
                 <table>
          <tr>
            <th>Location</th>
            <td><%= listing.address %></td>
          </tr>
          <tr>
            <th>Price</th>
            <td><%= format_price(listing) %></td>
          </tr>
        </table>
                </div>
            <% end %>
          <% end %>
          </div>
        <% end %>
         <% end %>
      </div>
   
    </div>
