<div class='row'>
<div class='small-8 large-centered columns'>

<dl class="sub-nav">
  <dt>Filter:</dt>
  <dd class="active"><%= link_to 'Dashboard', current_user %></dd>
  <dd><%= link_to 'Profile', profile_path(current_user)
                   %></dd>
  <dd><%= link_to 'Add Listing', new_listing_path %></dd>
  <dd><%= link_to 'Create Post', new_blog_path %></dd>
  <dd><%= link_to 'All Listings', listings_list_path %></dd>
</dl>
</div></div>
<div class='row user_main'>
    
  <!-- <div class="small-8 small-centered columns"> -->
<%= render 'form' %>

</div>
</div>