<section>
  <div class="row list_search">
    <div class="large-10 large-centered columns form_search">
      <%= form_tag search_listings_path, method: :get do %>
        <div class="row collapse">
          <div class="small-10 columns">
            <%= text_field_tag :search, params[:search], placeholder: "Find a place to stay." %>   
          </div>
          <div class="small-2 columns">
            <%= submit_tag "Search for Home", name: nil, class: "button postfix" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
    
<div class="list_all">
  <div class='medium-6 columns small-12 columns' style="height:550px;overflow:auto;margin:0;padding:0;">
    <% if @listings.any? %>
      <% @listings.each_slice(1) do |group| %>
        <% group.each do |listing| %>
          <% if listing %>
            <div class="medium-12 columns small-12 columns" >
              <%= image_tag listing.upload.url(:medium), style: 'width:100%;height:250px;' %>
              <h4><%= link_to(listing.title, listing)%></h4>
              <table style= 'width:100%;'>
                <div class="medium-12 columns small-12 columns" >
                  <div class="row">
                    <tr style= 'width:100%;height:100px;'>
                      <div class="medium-8 columns small-8 columns" >
                        <th>Location</th>
                        <td><%= listing.address %></td>
                      </div>
                      <div class="medium-4 columns small-4 columns" >
                        <th>Price</th>
                        <td><%= format_price(listing) %></td>
                      </div>
                    </tr> 
                  </div>
                </div>
              </table>
              
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class='medium-6 columns hide-for-small-only' style="margin:0;padding:0;">
  <iframe
    <% @listings.each do |listing| %>
      <%# listing.address.each do |address| %>
        width="100%"
        height="550"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBB2gFnX3mWZNOINgVNx7lqId-Wn8sAnWY
          &q=<%= listing.address.parameterize %>&zoom=14">
        <%# end %>
    <% end %>
  </iframe>
  </div>
</div>

