
<div class='row listing_main'>

<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel2-1">Picture</a>
   </li>
  <li class="tab-title"><a href="#panel2-2">Map</a>
  </li>
  <li class="tab-title"><a href="#panel2-3">Amenities</a></li>
  <li class="tab-title"><a href="#panel2-4">Details</a></li>
  <li class="tab-title"><a href="#panel2-5">Photos</a></li>
  <li class='right title'><h3><%= @listing.title %></h3></li>
</ul>
<div class="medium-8 columns">
<div class="tabs-content">
  <div class="content active" id="panel2-1">
  <%= image_tag @listing.upload.url(:large) %></div>
   <div class="content" id="panel2-2">
     
     <%= image_tag "http://maps.google.com/maps/api/staticmap?size=600x400&sensor=false&zoom=16&markers=#{@listing.latitude}%2C#{@listing.longitude}" %>
    <!-- <p id="directions" style='width: 600px; height: 400px;'></p> --></div>
<div class="content" id="panel2-3">
    <ul>
      <% @amenities.each do |a| %>
        <li><%= a.name %></li>
      <% end %>
    </ul>
    </div>
    <div class="content" id="panel2-4">
      <table class='info'>
        <tr>
          <th class='thead'>Apartment Type</th>
            <td><%= @listing.apartment_type %></td>
        </tr>
         <tr>
          <th>Bedroom</th>
            <td><%= @listing.bedroom %></td>
        </tr>
         <tr>
          <th>Bathroom</th>
            <td><%= @listing.bathroom %></td>
        </tr>
         <tr>
          <th>User Type</th>
            <td><%= @listing.user_type %></td>
        </tr>
         <tr>
          <th>Website Url</th>
            <td><%= @listing.website_url %></td>
        </tr>
         <tr>
          <th>Contact Name</th>
            <td><%= @listing.contact_name %></td>
        </tr>
         <tr>
          <th>Phone No</th>
            <td><%= @listing.phone %></td>
        </tr>
        <tr>
          <th>More Info</th>
            <td><%= @listing.info %></td>
        </tr>

      </table>
    </div>
    <div class="content" id="panel2-5">
    <%= image_tag @listing.user.avatar.url, size: 600 %>
    </div>
</div>

  <p>
  <h3>Summary:</h3>
    <%= @listing.summary %>
  </p>

</div>
    
<div class="medium-4 columns">
  <div class='row'>
    <div class="medium-12 columns"><br>
    <table class='price'>
    <tr>
      <th><h4>Price</h4></th> 
    <td><h4><%= format_price(@listing) %></h4></td>
  </tr>
 
</table></div>
<div class="medium-12 columns">
 <%= link_to 'Check Availability', new_listing_enquiry_path(@listing), 
             class: 'radius button expand' %>
</div>
<div class="medium-12 columns">

<%= image_tag @listing.user.avatar.url, size: 600 %>

<%# if image_tag @listing.user.avatar.url.nil? %>
    <%#= profile_image_for @listing.user, size: 300 %>
    <%# else %>
    <%#= image_tag @listing.user.avatar.url, size: 300 %>
    <%# end %>

     <%#= image_tag @listing.user.avatar.url %>
    </div>
    <div class="medium-12 columns"><br>
      <table class='price'>
        <tr>
        <th>Location:</th>
          <td><%= @listing.address %></td>
        </tr>
      </table>
    </div>
    <div class="medium-12 columns">
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=300x300&sensor=false&zoom=16&markers=#{@listing.latitude}%2C#{@listing.longitude}" %>
    </div>
    <div class="medium-12 columns">
      <table class='price'>
        <tr>
        <th>Latitude:</th>
          <td><%= @listing.latitude %></td>
        </tr>
        <tr>
        <th>Longitude:</th>
          <td><%= @listing.longitude %></td>
        </tr>
      </table>
    </div>
  </div>

<nav>
  <%# if current_user?(@user) %>
  <% if current_user_admin? %>
  <%= link_to 'Edit', edit_listing_path(@listing), class: 'button' %>
        <%# end %>
    
    
      
      
      <%= link_to 'Delete', @listing, 
                  class: 'button',
                  method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
    </nav>

 
  </div>
</div>
