<article >
  <header>
    
    <h1><%= @listing.title %></h1>
    <%= image_tag @listing.upload.url %>
    
  </header>
  
  <p>
    <%= @listing.summary %>
  </p>
  
  <h3>Price</h3>
  <p>
    <%= format_price(@listing) %>
  </p>
  
  <h3>Location</h3>
  <p>
    <%= @listing.address %>
  </p>

 <h3>Listing Amenities</h3>
    <ul>
      <% @amenities.each do |a| %>
        <li><%= a.name %></li>
      <% end %>
    </ul>
  
  
  <%= link_to 'Make Enquiry', new_listing_enquiry_path(@listing), 
             class: 'button ok review' %><br>
    <nav>
    

    <% if current_user %>
    <%= link_to 'Add Listing', new_listing_path, class: 'button' %>
    <% end %>
    <% if current_user_admin? %>
      <%= link_to 'Edit', edit_listing_path(@listing), class: 'button' %>
      
      
      <%= link_to 'Delete', @listing, 
                  class: 'button',
                  method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
    </nav>
  
</article>
