<div class='row profile'>

<!-- <div class='medium-4 columns'> -->
<ul class="tabs vertical medium-4 columns" data-tab>
<% if profile_image_for(@user).nil? %>
    <%= image_tag @user.avatar.url %>
    <% else %>
    <%= profile_image_for@user, size: 250 %>
    <% end %>
  <li class="tab-title active"><a href="#panel1a">Edit Profile</a></li>
  <li class="tab-title"><a href="#panel2a">Video</a></li>
  <li class="tab-title"><a href="#panel3a">Tab 3</a></li>
  <li class="tab-title"><a href="#panel4a">Tab 4</a></li>
</ul>
<!-- <div class='medium-8 columns'> -->
<div class="tabs-content vertical medium-8 columns">

  <div class="content active" id="panel1a">
    <p><%= form_for(@user) do |f| %>
  <%= render "shared/errors", object: @user %>
  <fieldset>
    <ol>
      <li class="required">
        <%= f.label :sex %>
        <%= f.text_field :sex, size: 40 %>
      </li>
      <li class="required">
          <%= f.label :birthdate %>
          <%= f.datetime_select :birthdate %>
     </li>

      <li class="required">
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, size: 40 %>
      </li>
      <li class="required">
        <%= f.label :where_you_live %>
        <%= f.text_field :where_you_live, size: 40 %>
      </li>
      <li class="required">
        <%= f.label :marital_status %>
        <%= f.text_field :marital_status, size: 40 %>
      </li>
      <li class="required">
        <%= f.label :school %>
        <%= f.text_field :school, size: 40 %>
      </li>
      <li class="required">
        <%= f.label :work %>
        <%= f.text_field :work, size: 40 %>
      </li>
      <li class="required">
        <%= f.label :info, 'Describe Yourself' %>
        <%= f.text_area :info, size: 40 %>
      </li>
      <li class="required">
        <%= f.label :avatar %>
        <%= f.file_field :avatar, size: 40 %>
      </li>
      <li class="required">
        <%= f.label :video %>
        <%= f.text_field :video, size: 40 %>
      </li>
      
    </ol>
    <p>
      
    
        <%= f.submit "Update Profile" %>
     
    </p>
  </fieldset>
<% end %></p>
  </div>
  <div class="content" id="panel2a">
    <p><iframe width="750" height="450" src="//www.youtube.com/embed/<%= @user.video %>" frameborder="0" allowfullscreen></iframe>
</p>
  </div>
  <div class="content" id="panel3a">
    <p>Panel 3 content goes here.</p>
  </div>
  <div class="content" id="panel4a">
    <p>Panel 4 content goes here.</p>
  </div>
</div>




<!-- </div> -->
</div>