<h1>Reviews for <%= link_to(@user.name, @user) %></h1>
<ol>
  <% @reviews.each do |review| %>
    <li>
      <span class="review"><%= pluralize(review.stars, 'star') %></span>
      <%= profile_image_for(review.user, size: 35) %>
      <span class="user">by <%= link_to review.user.name, review.user %>
      </span>
      <span class="date"><%= time_ago_in_words(review.created_at) %> ago</span>
      <p>

       <%= link_to delete_review_image, [@user, review],
                  id: "#{dom_id(review)}_delete",
                  method: :delete, 
                  data: { confirm: 'Are you sure?' } %>
      <p>
        &quot;<%= review.comment %>&quot;
      </p>
    </li>
  <% end %>
</ol>