<div class='row'>
<div class='small-8 large-centered columns'>
<h1>Reviews for <%= link_to(@user.name, @user) %></h1>
  <% @reviews.each do |review| %>
  
      
      <div class='medium-4 columns'>

      <%= profile_image_for(review.user, size: 80) %><br>
      <span class="review"><%= pluralize(review.stars, 'star') %></span><br>
      <span class="user">by <%= link_to review.user.name, review.user %>
      </span><br>
      <span class="date"><%= time_ago_in_words(review.created_at) %> ago</span><br></div>
    <div class='medium-7 columns'>
        &quot;<%= review.comment %>&quot;</div>
     <div class='medium-1 columns'>
       <%= link_to delete_review_image, [@user, review],
                  id: "#{dom_id(review)}_delete",
                  method: :delete, 
                  data: { confirm: 'Are you sure?' } %>
      </div>
  
  <% end %></div></div>