<div class='row'>

<div class="small-7 large-centered columns"><br><br>
<h4>Ask if <%= link_to @listing.title, @listing %> still available</h4>

</fieldset>
<%= form_for([@listing, @enquiry]) do |f| %>
  <% render "shared/errors", object: @enquiry %>
  <fieldset>
    
      <p class="required">
        <%= f.label :comment, "Contact the lister" %>
        <%= f.text_area :comment, placeholder: "
I am interested in renting your apartment. Is it still available? When can I see it?"%>
      
    </p>
    <p>
      <%= f.submit  'Make Enquiry', class: 'button' %> 
      <%= link_to "Cancel", @listing, class: 'button' %>
    </p>
  </fieldset>
<% end %>
</fieldset>
</div>
</div>
</div>



