<%# add navigation links to this file %>

<% if current_user %>
<li class='has-dropdown active'>
      <%= link_to current_user.name, current_user %>
      <ul class='dropdown'>
      <li><%= link_to " Account Settings ", edit_user_path(current_user), class: '' %></li> 
      <li><%= link_to 'Sign Out ', session_path, method: :delete, class: '' %> </li></ul></li>
    <% else %>
     <li> <%= link_to 'Sign Up', signup_path %></li>
     <li> <%= link_to 'Sign In', new_session_path %></li>
    <% end %>

