<%# add navigation links to this file %>
<li><%= link_to 'All Listings', listings_list_path %></li>
<li> <%= link_to 'Blog', blogs_path %></li>
<% if current_user %>
<li><%= link_to (current_user.name), current_user %></li>
<li class='has-dropdown'>

      <%= link_to 'Dashboard', current_user %>
      <ul class='dropdown'>
        <li><%= link_to 'Add Listings', new_listing_path %></li>
        <li><%= link_to 'All Listing', listings_list_path
                  %></li>
        <li><%= link_to 'Create Post', new_blog_path %></li>

    
      <%# link_to 'Edit Profile', profile_path(current_user), 
                  class: 'active' %>
                 
      <li><%= link_to " Account", edit_user_path(current_user) %></li> 
      <li><%= link_to 'Sign Out ', session_path, method: :delete %> </li>
      <% if current_user_admin? %>
      <li><%= link_to 'Delete Account', @user, 
                  method: :delete, 
                  data: { confirm: 'Are you sure you want to permanently delete your account?' } %></li>
                  <% end %></ul></li>
  
    <% else %>
     <li> <%= link_to 'Sign Up', signup_path %></li>
     <li> <%= link_to 'Sign In', new_session_path %></li>
    <% end %>
    <li><%= link_to 'List Your Space', new_listing_path, class: 'button [secondary alert success]' %></li>
    




